@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* General */

  img {
    @apply w-full;
  }

  input {
    @apply py-1.5 text-lg sm:text-2xl text-right border-2 border-transparent border-solid cursor-pointer bg-secondary-shade-of-gray text-secondary-very-dark-cyan w-full rounded-md;
  }

  input:hover {
    @apply border-secondary-cyan;
  }

  input:focus {
    @apply outline-none border-secondary-cyan;
  }

  /* Utilities */

  .selected {
    @apply text-secondary-very-dark-cyan bg-primary-strong-cyan !important;
  }

  .unclickable {
    @apply pointer-events-none opacity-30;
  }

  .warning-message {
    @apply hidden text-right text-secondary-shade-of-red;
  }

  /* Calculator container */

  .tip-btn {
    @apply px-4 py-2 text-lg text-center rounded-md sm:text-2xl text-secondary-very-light-grayish-cyan bg-secondary-very-dark-cyan hover:bg-secondary-cyan-hover hover:text-secondary-very-dark-cyan;
  }

  .tip-input {
    @apply px-3;
  }
}

/* General */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Utilities */

.tip-input::-webkit-input-placeholder {
  color: hsl(186, 14%, 43%);
}

.tip-input:-moz-placeholder {
  color: hsl(186, 14%, 43%);
  opacity: 1;
}

.tip-input::-moz-placeholder {
  color: hsl(186, 14%, 43%);
  opacity: 1;
}

.tip-input:-ms-input-placeholder {
  color: hsl(186, 14%, 43%);
}

.tip-input::-ms-input-placeholder {
  color: hsl(186, 14%, 43%);
}

.tip-input::placeholder {
  color: hsl(186, 14%, 43%);
}

@media (min-width: 768px) {
  .tip-input::-webkit-input-placeholder {
    text-align: center;
  }

  .tip-input:-moz-placeholder {
    text-align: center;
  }

  .tip-input::-moz-placeholder {
    text-align: center;
  }

  .tip-input:-ms-input-placeholder {
    text-align: center;
  }

  .tip-input::-ms-input-placeholder {
    text-align: center;
  }

  .tip-input::placeholder {
    text-align: center;
  }
}
